:root{
    --couleur: #262626;
    --ombre: rgba(0, 0, 0, 0.5);
    --fond: rgba(255, 255, 255, 0.7);
}
body{
    color: var(--couleur);
}
.body-saf{
    margin: 0;
    font-size: 19px;
    font-family: 'Roboto Slab';
    background: linear-gradient(to right, gray, white);
}
.section-saf{
    padding: 2% 7%;;
    background: var(--fond);
    margin: 7% 0;
}
.h1-saf{
    font-family: 'Dancing Script';
    text-align: center;
}
.span1-saf{
    font-family: sans-serif;
}
.span2-saf{
    font-family: sans-serif;
    color: deepskyblue;
}

.navigation {
    display: none;
}



@media screen and (max-width:1057px){
    .navigation{
        display: block;
    }

    .nav-container{
        display: none;
    }
}
.softskills-saf{
    font-family: cursive;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin: 0;
    background: transparent;
}
.softskill-saf{
    margin: 0 100px;
    text-align: center;
}
.bouton-saf{
    font-weight: bold;
    margin: 50px 50%;
    width: max-content;
    height: 50px;
    font-size: 19px;
    border-radius: 50px;
    background: linear-gradient(to right, deepskyblue, white);
    border: none;
    box-shadow: 3px 3px var(--ombre);
    padding: 0 30px;
}
.bouton-saf:hover{
    background: var(--fond);
}
.span3-saf{
    font-style: italic;
    font-size: 28px;
}
.div-saf{
    margin-top: 50px;
}
.img-saf{
    width: 100%;
    height: 300px;
}
.theme{
    background: var(--bouton);
    width: max-content;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 45%;
    font-weight: bold;
    font-size: 19px;
}

@media screen and (max-width:1340px){
    .body-saf{
        font-size: 17px;
    }
    .img-saf{
        height: 250px;
    }
    .bouton-saf{
        height: 40px;
        padding: 0 20px;
        font-size: 17px;
    }
    .span3-saf{
        font-size: 24px;
    }
    .softskills-saf{
        padding-top: 90px;
    }
    .softskill-saf{
        margin: 0 40px;
    }
}
@media screen and (max-width:620px){
    .body-saf{
        font-size: 15px;
    }
    .img-saf{
        height: 200px;
    }
    .bouton-saf{
        height: 30px;
        padding: 0 10px;
        font-size: 15px;
    }
    .span3-saf{
        font-size: 20px;
    }
    .softskills-saf{
        padding-top: 80px;
    }
    .softskill-saf{
        margin: 0 20px;
    }
}